body {
    background-color: black;
}

h1 {
    font-size: xx-large;
  }

.logo {
    width: 150px;
    height: 50px;
}

.section_1_top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
    margin-top: 20px;
}

.section_2{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(161, 5, 0); */
    color: white;
    flex-direction: column;
}

.section2B {
    text-align: center;
    font-size: 25px;
}


.button2 {
    color: white;
    font-size: large;
    background-color: red;
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
}

.vDivider {
    margin: 100px auto;
    background: #8a8a8a;
    border-bottom: 1px solid rgb(110, 110, 110);
}

.section_3{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(161, 5, 0); */
    color: white;
}

h1 {
    color: white;
    font-size: 50px;
  }

  .button1 {
    color: white;
    font-size: medium;
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 10px;
}

.input{ 
    width: 400px;
    height: 40px;
    border-radius: 10px;
}